#####################.ENV#####################

###############Llama2CppPsRobot###############
human_name = PC_User      #-- start upper case
model_name = Desktop_PC   #-- start upper case
model_role = AI_Assistant #-- start Upper case
local_zone = Users_Home   #-- start lower case
##############################################

#############System_Configuration#############
threads_cpu = 12         #-- total cpu threads
threads_gpu = 1024       #-- total gpu shaders
##############################################

#####################.ENV#####################